body {
    padding: 0;
    margin: 0;
    background-color: rgb(50, 50, 156);
}

.container {
    max-width: 550px;
    border: 1px solid black;
    padding: 10px;
    background-color: orangered;
    margin: 0 auto;
}

.container h1{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}